$ff-main: 'Averta', sans-serif;


$black: #000;
$white: #fff;
$darkGrey: #565656;
$mediumGrey:#757575;
$liteGrey:#f2f2f2;
$blue: #2639ED;

$container: 1200px;

$btnRadius: 60px;

$transition: .4s all ease-in-out;




$semiOrange: #FFF5DB;


// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
